a{
	text-decoration: none;
}

a:link{
	color:black;
}

a:hover{
	color:gray;
}

a:visited{
	color:black;
}

article{
	padding: 15px

}

body{
	font-family: Garamond, Georgia, serif;
	text-align: justify;

}

footer{
	text-align: center;
	color: black;
}

header{
       font-family: 'Libre Baskerville'; 
	text-align: left;
	font-weight: bold;
	padding: 20px;
	margin: 20px;
}

h1{
	font-weight:bold;
	font-size: 28px;
}

h2{
	font-family: Trebuchet, sans-serif; 
	font-size: 20px;
	padding: 5px;
}

h3{	
	margin-top: 30px;
	font-weight:bold;
	text-align:center;
}

img{
	max-width: 100%;
  	height: 125px;
}

p{
	padding: 5px;
	font-size: 18px;
}

section { 
	display: flex;
	padding: 15px
}

.banner{
	display: block;
	margin-top: 50px;
	margin-bottom: 10px;
 	margin-left: auto;
 	margin-right: auto;
	width: 100%;
	max-width: 2000px;
	height: auto;
}

.container{ 
	margin: 0 auto; 
	width: 80%; 
	max-width: 900px; 
}

.orgdesc{
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 1fr;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px; 
	grid-gap: 35px;
}

.sbs{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.subhead{
	margin-top: -15px;
	font-family: Georgia; 
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
}

.title{
	padding-left: 15px;
}

@media (max-width: 680px) {
	footer{
		margin-top: 50px;
	}
	h2{
		text-align: center;
		margin-top: 20px;
	}
	p{
		padding: 0px;
		margin-top: 0px;
	}
	.sbs{
		grid-template-columns: 1fr;
	}
	.subhead{
		text-align: left;
	}
	.orgdesc{
		grid-template-columns: 1fr;
	}
}
